<div id="main_back">
    <p id="main_body">
        #include &lt;iostream><br>
        using namespace std;<br>
        <br>
        int main(){<br>
        &emsp;cout &lt;&lt; "this is more annoying than it looks";<br>
        &emsp;return 0;<br>
        }<br>
    </p>
    <textarea id="main_front"></textarea>
</div>