version: 2.1

jobs:
  test_cypress:
    docker:
      - image: cimg/node:20.12.0
    steps:
      - checkout
      - run: |
          sudo apt-get update
          sudo apt-get install libgtk2.0-0 libgtk-3-0 libgbm-dev libnotify-dev libnss3 libxss1 libasound2 libxtst6 xauth xvfb
          cd spryntax
          npm install
          npm run pm2-start
          npm run cypress:run
  test_jsonifier:
    docker:
      - image: cimg/node:20.12.0
    steps:
      - checkout
      - run: |
          cd spryntax/website_static_build_tools/alg_creator
          node jsonifier.js

workflows:
  main:
    jobs:
      - test_jsonifier
      - test_cypress
