:root{
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #333;
    color: #fff;
}
#main_back{
    position: relative;
}

#main_front{
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent;
    border: none;
    resize: none;
    overflow: hidden;
    color: #fff;
    text-shadow: #333 0px 0px 3px;
    width: 100%;
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: large;
}

#main_body{
    padding:1px;
    background-color: #000;
    color: #999;
    font-size: large;
}

.noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.span{
    display: inline-block;
    height: 1em;
    background-color: #000;
    color: #999;
}
.space{width: 0.5em;}
.tab{width: 4em;}
.lbreak{font-size: xx-small;}
.span_correct{background-color: #0cc; color:#0cc;}
.span_incorrect{background-color: #f90; color:#f90;}
#wincheck{
    color: #0ff;
}