<!DOCTYPE html>
<head>
    <title>Spryntax</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/spryntax.css">
</head>

{{!--literally looks for the handlebar named "header" in partials--}}
{{>header}}

<body>
    <main>
        {{!--must be specified by programmer in spryntax.js--}}
        {{{body}}}
    </main>
</body>
{{!--literally looks for the handlebar named "footer" in partials--}}
{{>footer}}