<!DOCTYPE html>
<html lang="en">
<head>
    <title>Favorites</title>
    <link rel="stylesheet" href="spryntax.css">
    <script src="spryntax_main.js"></script>
</head>
<body>
    <header>
        <div class="top">
            <nav> 
                <a href="/">Home</a>
                <a href="/level_select">Level Select</a>
                <a href="/favorites">Favorites</a>
                <a href="/stats">Stats</a>
                <a href="/leaderboard">Leaderboard</a>
                <a href="/report">Report</a>
                <a href="/settings" class="split">Settings</a>
                <a href="/signup" class="split">Sign up</a>
                <a href="/login" class="split">Log in</a>
            </nav>
        </div>
    </header>
    <h1 class="gradient-text" data-text="Favorites">Favorites</h1>
</body>
</html>