<!DOCTYPE html>
<head>
    <title>Spryntax</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/spryntax.css">
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/spryntax_main.js"></script>
</head>


<body>
  <header>
    <div class="top">
        <nav> 
            <a href="/">Home</a>
            <a href="/level_select">Level Select</a>
            <a href="/leaderboard">Leaderboard</a>
            <a href="/report">Report</a>
            <a href="/settings" class="split">Settings</a>
            <a href="/signup" class="split">Sign up</a>
            <a href="/login" class="split">Log in</a>
        </nav>
    </div>
</header>

    <style>
        table, th, td {
          border:1px solid white;}
        </style>
    <h1>Leaderboard</h1>
    <table id="leaderboard-table">
        <thead>
            <h2>Python</h2>
            <table style="width:50%">
                <tr>
                  <th>Rank</th>
                  <th>Username</th>
                  <th>Score</th>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</body>
</html>