<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bug Report</title>
    <link rel="stylesheet" href="spryntax.css">
    <script src="spryntax_main.js"></script>
</head>
    <style>
        button { 
            width: 100px;
            height: 30px;
            font-size: 15px;
            font-weight: bold;
        }
        .message {
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            font-size: 25px; 
            font-weight: bold;
        }
        #reportForm {
            display: block;
        }
    </style>
    <header>
        <div class="top">
            <nav> 
                <a href="/">Home</a>
                <a href="/level_select">Level Select</a>
                <a href="/favorites">Favorites</a>
                <a href="/stats">Stats</a>
                <a href="/leaderboard">Leaderboard</a>
                <a href="/report">Report</a>
                <a href="/settings" class="split">Settings</a>
                <a href="/signup" class="split">Sign up</a>
                <a href="/login" class="split">Log in</a>
            </nav>
        </div>
    </header>

    <body class="text-center" > 
        <h1 class="gradient-text" data-text="Report Bugs">Report Bugs</h1>
        <div class="container" style="margin: 0 auto; width: 656px; text-align:center">

            <% if (typeof message !== 'undefined') { %>
                <div class="message <%= success ? 'success' : 'error' %>">
                    <%= message %>
                </div>
            <% } %>
            <% if (typeof message !== 'undefined') { %>
                <% if (success === true) { %>
                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            document.getElementById('reportForm').style.display = 'none';
                        });
                    </script>
                    <% } %>
            <% } %>

            <form id="reportForm" action="/report.php" method="post" >
                <div class="form-group">
                    <label for="inputname">Username: </label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <p><label for="inputproblem">Please describe the bug that you wish to report:</label></p>
                    <textarea id="problem" name="problem" rows="4" cols="50">Please write a short description about what the bug is and where it is located.</textarea>
                    <br>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
        <script>

        </script>
    </body>
</html>