:root{
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #333;
    color: #fff;
}
#main_back{
    position: relative;
}

#main_front{
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent;
    border: none;
    resize: none;
    overflow: hidden;
    color: #fff;
    text-shadow: #333 0px 0px 3px;
    width: 100%;
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: large;
}

#main_body{
    padding:1px;
    background-color: #000;
    color: #999;
    font-size: large;
}

.noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.span{
    display: inline-block;
    height: 1em;
    background-color: #000;
    color: #999;
}
.space{width: 0.5em;}
.tab{width: 4em;}
.lbreak{font-size: xx-small;}
.span_correct{background-color: #0cc; color:#0cc;}
.span_incorrect{background-color: #f90; color:#f90;}
#wincheck{
    color: #0ff;
}

/* Container for the cards */
.card-container {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important; /* 3 columns per row */
    gap: 50px !important;
    padding: 50px !important;
    max-width: 1200px !important; /* Adjust as needed */
    margin: 0 auto !important; /* Center the grid */
  }
  
  /* Custom card styles */
  .custom-card {
    background-color: #282828 !important;
    border: 1px solid #000000 !important;
    border-radius: 8px !important;
    box-shadow: 0 2px 10px cyan !important;
    padding: 10px !important;
    transition: transform 0.2s ease-in-out !important;
    width: auto !important; /* Let the grid control the width */
  }
  
  /* Hover effect for cards */
  .custom-card:hover {
    transform: scale(1.05) !important; /* Slight zoom on hover */
  }
  
  /* Card title styling */
  .custom-card h3 {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    text-align: center;
    color: cyan
  }
  
  /* Card paragraph styling */
  .custom-card p {
    margin: 10px 1 !important;
    
  }
  