<!DOCTYPE html>
<head>
    <title>Spryntax</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/spryntax.css">
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/spryntax_main.js"></script>
</head>

<div class="topnav">
    <!-- For navigation tabs -->
    <a class="active" href="/level_select">Algorithms</a>
    <button type="submit" onclick="location.href = '/signup';">Sign Up</button>
    <button type="submit" onclick="location.href = '/login';">Login </button>
    <button type="submit" onclick="location.href = '/leaderboard';">Leaderboard </button>
</div>

<div id="main_back">
    <div id="main_body">
        #include &lt;iostream><br>
        using namespace std;<br>
        <br>
        int main(){<br>
        &emsp;cout &lt;&lt; "this is more annoying than it looks";<br>
        &emsp;return 0;<br>
        }<br>
    </div>
    <textarea id="main_front" spellcheck="false"></textarea>
    <p id="wincheck" hidden>YOU WIN!</p>
</div>
