<!DOCTYPE html>
<head>
    <title>Spryntax</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/spryntax.css">
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/spryntax_main.js"></script>
</head>

<div class="topnav">
    <!-- For navigation tabs -->
    <a class="active" href="/level_select">Algorithms</a>
    <button type="submit" onclick="location.href = '/signup';">Sign Up</button>
    <button type="submit" onclick="location.href = '/login';">Login </button>
    <button type="submit" onclick="location.href = '/leaderboard';">Leaderboard </button>
</div>

